{% extends "auctions/layout.html" %}

{% block body %}
    {% if category %}
    <h2> Active Listings under <b>{{ category.name }}</b> category</h2>
    {% endif %}

    {% if watchlist %}
    <h2> {{watchlist}} </h2>
    {% endif %}

    <div class="row">
        {% for listing in listings %}
        <div class="col-md-3">
            <div class="card">

                {% if listing.image_url %}
                <div class="card-img-top img-small-wrapper">
                        <a href="{% url 'listing' listing.id %}">
                            <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
                        </a>
                </div>
                {% endif %}
    
                <div class="card-body">
                    <figcaption>
                        <a href="{% url 'listing' listing.id %}" class="card-title" id='listing-title'> {{ listing.title }} </a>
                        <p class="card-text"> <strong> Current bid: ${{ listing.bid_amount|floatformat:2 }} </strong> </p>
                    </figcaption>
                    <hr>
                    <p class="card-text"> <small>{{ listing.description|truncatewords:15|linebreaks }}</small> </p>
                </div>
    
        </div>

    </div>
        
        {% empty %}
        <div class="card ml-3">
            <p class="card-body"> No Active Listings</p>
        </div>
        
        {% endfor %}
        
    </div>

{% endblock %}